In [1]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series([1,2,3,4,5,6,np.nan,8,9,10])

In [3]:
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [4]:
d = pd.date_range('20200301',periods=10)

In [5]:
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df=pd.DataFrame(np.random.randn(10,4),index=d,columns=['A','B','C','D'])

In [7]:
df

                   A         B         C         D
2020-03-01  1.786522  1.938678 -0.118777  1.159943
2020-03-02 -0.261701  1.205738  0.418711  0.313166
2020-03-03  0.306638  1.009445  0.675123 -0.528734
2020-03-04 -0.222401 -0.517406  1.341791 -0.569522
2020-03-05  0.725612  1.282983 -0.836261 -1.876901
2020-03-06 -0.488043 -0.395684 -2.015299  1.673068
2020-03-07  1.856277 -0.627926 -1.021733 -1.301282
2020-03-08  0.797209  1.502797 -0.278331 -1.240941
2020-03-09 -0.765331 -0.702870  1.004759 -0.269358
2020-03-10 -1.337786  0.914700 -0.619939 -0.093503

In [8]:
df1=pd.DataFrame({'A':[1,2,3,4],
                 'B':pd.Timestamp('20200301'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([5]*4,dtype='int32'),
                 'E':pd.Categorical(['True','False','True','False']),
                 'F':'edureka'})

In [9]:
df1

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   True  edureka
1  2 2020-03-01  1.0  5  False  edureka
2  3 2020-03-01  1.0  5   True  edureka
3  4 2020-03-01  1.0  5  False  edureka

In [10]:
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [12]:
# df1.dtypes

In [13]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [14]:
df.head()

                   A         B         C         D
2020-03-01  1.786522  1.938678 -0.118777  1.159943
2020-03-02 -0.261701  1.205738  0.418711  0.313166
2020-03-03  0.306638  1.009445  0.675123 -0.528734
2020-03-04 -0.222401 -0.517406  1.341791 -0.569522
2020-03-05  0.725612  1.282983 -0.836261 -1.876901

In [15]:
df.tail()

                   A         B         C         D
2020-03-06 -0.488043 -0.395684 -2.015299  1.673068
2020-03-07  1.856277 -0.627926 -1.021733 -1.301282
2020-03-08  0.797209  1.502797 -0.278331 -1.240941
2020-03-09 -0.765331 -0.702870  1.004759 -0.269358
2020-03-10 -1.337786  0.914700 -0.619939 -0.093503

In [16]:
df.index

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df.to_numpy()

array([[ 1.78652175,  1.93867788, -0.11877691,  1.15994301],
       [-0.26170123,  1.20573757,  0.4187109 ,  0.31316624],
       [ 0.30663805,  1.0094446 ,  0.67512297, -0.52873381],
       [-0.22240054, -0.51740593,  1.34179144, -0.56952178],
       [ 0.7256122 ,  1.28298261, -0.83626115, -1.87690127],
       [-0.48804305, -0.3956835 , -2.01529861,  1.67306758],
       [ 1.85627711, -0.62792623, -1.02173343, -1.30128165],
       [ 0.79720913,  1.50279662, -0.27833096, -1.24094054],
       [-0.76533074, -0.70286973,  1.00475918, -0.26935793],
       [-1.33778621,  0.91469966, -0.61993864, -0.09350329]])

In [19]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.239700   0.561045  -0.144996  -0.273406
std     1.056750   1.007596   1.028020   1.102342
min    -1.337786  -0.702870  -2.015299  -1.876901
25%    -0.431458  -0.486975  -0.782181  -1.073086
50%     0.042119   0.962072  -0.198554  -0.399046
75%     0.779310   1.263671   0.611020   0.211499
max     1.856277   1.938678   1.341791   1.673068

df.sort_values(by='C')

In [20]:
df

                   A         B         C         D
2020-03-01  1.786522  1.938678 -0.118777  1.159943
2020-03-02 -0.261701  1.205738  0.418711  0.313166
2020-03-03  0.306638  1.009445  0.675123 -0.528734
2020-03-04 -0.222401 -0.517406  1.341791 -0.569522
2020-03-05  0.725612  1.282983 -0.836261 -1.876901
2020-03-06 -0.488043 -0.395684 -2.015299  1.673068
2020-03-07  1.856277 -0.627926 -1.021733 -1.301282
2020-03-08  0.797209  1.502797 -0.278331 -1.240941
2020-03-09 -0.765331 -0.702870  1.004759 -0.269358
2020-03-10 -1.337786  0.914700 -0.619939 -0.093503

In [21]:
df['C']

2020-03-01   -0.118777
2020-03-02    0.418711
2020-03-03    0.675123
2020-03-04    1.341791
2020-03-05   -0.836261
2020-03-06   -2.015299
2020-03-07   -1.021733
2020-03-08   -0.278331
2020-03-09    1.004759
2020-03-10   -0.619939
Freq: D, Name: C, dtype: float64

In [22]:
df.loc[d[0]]

A    1.786522
B    1.938678
C   -0.118777
D    1.159943
Name: 2020-03-01 00:00:00, dtype: float64

# PANDAS

In [23]:
import pandas as pd
import numpy as np

# Pandas series

In [24]:
#In Millions
g7_pop=pd.Series([23.56,78.23,45.78,98.56,78.90,45.34])

In [25]:
g7_pop

0    23.56
1    78.23
2    45.78
3    98.56
4    78.90
5    45.34
dtype: float64

In [26]:
g7_pop.name='G7 population in millions'

In [27]:
g7_pop

0    23.56
1    78.23
2    45.78
3    98.56
4    78.90
5    45.34
Name: G7 population in millions, dtype: float64

Series are pretty simliar to numpy arrays:

In [28]:
g7_pop.dtype

dtype('float64')

In [29]:
g7_pop.values

array([23.56, 78.23, 45.78, 98.56, 78.9 , 45.34])

A series has an index,that's are similar to the automatic index assigned to the python's lists:

In [30]:
type(g7_pop.values)

numpy.ndarray

In [31]:
g7_pop[0]

23.56

In [32]:
g7_pop[1]

78.23

In [33]:
g7_pop.index

RangeIndex(start=0, stop=6, step=1)

In [34]:
l=['a','b','c']

In [35]:
l

['a', 'b', 'c']

In [36]:
g7_pop.index=['India','canada','Italy','Europe','Asia','Africa']

In [37]:
g7_pop

India     23.56
canada    78.23
Italy     45.78
Europe    98.56
Asia      78.90
Africa    45.34
Name: G7 population in millions, dtype: float64

In [38]:
pd.Series({
    'India': 23.56,
    'canada':78.23,
     'Italy':45.78,
      'Europe':98.56,
      'Asia':78.90,
     'Africa':45.34,
})

India     23.56
canada    78.23
Italy     45.78
Europe    98.56
Asia      78.90
Africa    45.34
dtype: float64

In [39]:
pd.Series([23.56,78.23,45.78,98.56,78.90,45.34]),
index=['India','canada','Italy','Europe','Asia','Africa'],
name='G7 population in millions'

In [40]:
pd.Series

pandas.core.series.Series

In [41]:
g7_pop

India     23.56
canada    78.23
Italy     45.78
Europe    98.56
Asia      78.90
Africa    45.34
Name: G7 population in millions, dtype: float64

In [42]:
pd.Series(g7_pop,index=['India','europe','asia','italy'])

India     23.56
europe      NaN
asia        NaN
italy       NaN
Name: G7 population in millions, dtype: float64

# Indexing

In [43]:
g7_pop

India     23.56
canada    78.23
Italy     45.78
Europe    98.56
Asia      78.90
Africa    45.34
Name: G7 population in millions, dtype: float64

In [44]:
g7_pop['Asia']

78.9

In [45]:
g7_pop['Italy']

45.78

Numeric position can also be used iloc attribute

In [46]:
g7_pop.iloc[0]

23.56

In [47]:
g7_pop.iloc[-1]

45.34

Selecting multiple element at once

In [48]:
g7_pop[['Italy','India']]

Italy    45.78
India    23.56
Name: G7 population in millions, dtype: float64

In [49]:
g7_pop.iloc[[0,1]]

India     23.56
canada    78.23
Name: G7 population in millions, dtype: float64

In [50]:
g7_pop['canada':'Italy']

canada    78.23
Italy     45.78
Name: G7 population in millions, dtype: float64

In [51]:
g7_pop

India     23.56
canada    78.23
Italy     45.78
Europe    98.56
Asia      78.90
Africa    45.34
Name: G7 population in millions, dtype: float64

In [52]:
g7_pop>70

India     False
canada     True
Italy     False
Europe     True
Asia       True
Africa    False
Name: G7 population in millions, dtype: bool

In [53]:
g7_pop[g7_pop>70]

canada    78.23
Europe    98.56
Asia      78.90
Name: G7 population in millions, dtype: float64

In [54]:
g7_pop.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of India     23.56
canada    78.23
Italy     45.78
Europe    98.56
Asia      78.90
Africa    45.34
Name: G7 population in millions, dtype: float64>

In [55]:
g7_pop[g7_pop > g7_pop.mean()]

canada    78.23
Europe    98.56
Asia      78.90
Name: G7 population in millions, dtype: float64

In [56]:
g7_pop.std()

27.94097809073023

In [57]:
g7_pop[(g7_pop > g7_pop.mean()-g7_pop.std() /2)|(g7_pop > g7_pop.mean()+g7_pop.std()/2)]

canada    78.23
Europe    98.56
Asia      78.90
Name: G7 population in millions, dtype: float64

# Operation and methods

series also support vectorized operations and aggregration functions as numpy

In [58]:
g7_pop

India     23.56
canada    78.23
Italy     45.78
Europe    98.56
Asia      78.90
Africa    45.34
Name: G7 population in millions, dtype: float64

In [59]:
g7_pop

India     23.56
canada    78.23
Italy     45.78
Europe    98.56
Asia      78.90
Africa    45.34
Name: G7 population in millions, dtype: float64

In [60]:
g7_pop*1000000

India     23560000.0
canada    78230000.0
Italy     45780000.0
Europe    98560000.0
Asia      78900000.0
Africa    45340000.0
Name: G7 population in millions, dtype: float64

In [61]:
g7_pop.mean()

61.72833333333333

In [62]:
np.log(g7_pop)

India     3.159550
canada    4.359653
Italy     3.823847
Europe    4.590665
Asia      4.368181
Africa    3.814190
Name: G7 population in millions, dtype: float64

modifyiing series

In [63]:
g7_pop['canada']=56.8

In [64]:
g7_pop

India     23.56
canada    56.80
Italy     45.78
Europe    98.56
Asia      78.90
Africa    45.34
Name: G7 population in millions, dtype: float64

In [65]:
g7_pop.iloc[-1]=500

In [66]:
g7_pop

India      23.56
canada     56.80
Italy      45.78
Europe     98.56
Asia       78.90
Africa    500.00
Name: G7 population in millions, dtype: float64

In [67]:
g7_pop[g7_pop < 70]=99.99

In [68]:
g7_pop

India      99.99
canada     99.99
Italy      99.99
Europe     98.56
Asia       78.90
Africa    500.00
Name: G7 population in millions, dtype: float64

# Pandas DataFrames

In [69]:
import numpy as np
import pandas as pd

In [70]:
df=pd.DataFrame({
    'population':[89.90,67.89,34.76,13.67,90.78,45.87,90.78],
    'GDP':[
          1224891,
          6787080,
          5579900,
          2335465,
          9089787,
          5666768,
          7986543
          ],
    'Surface Area':[
        5678799,
        8900000,
        3456568,
        9345557,
        5890777,
        3787899,
        9087677,
    ],
    'HDI':[
        0.989,
        0.987,
        0.921,
        0.455,
        0.786,
        0.566,
        0.897,
    ],
    'continent':[
        'America',
                'Europe',
                'Canada',
                 'America',
                'Asia',
                'Europe',
                'America',
        'japan'
    ]
},columns=['population','GDP','Surface Area','HDI','Continent'])

In [71]:
df

   population      GDP  Surface Area    HDI Continent
0       89.90  1224891       5678799  0.989       NaN
1       67.89  6787080       8900000  0.987       NaN
2       34.76  5579900       3456568  0.921       NaN
3       13.67  2335465       9345557  0.455       NaN
4       90.78  9089787       5890777  0.786       NaN
5       45.87  5666768       3787899  0.566       NaN
6       90.78  7986543       9087677  0.897       NaN

In [72]:
df.index=[
    'canada'
    'France'
    'italy'
    'europe'
    'europe'
]

ValueError: Length mismatch: Expected axis has 7 elements, new values have 1 elements

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.info()

In [ ]:
df.size

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
df.dtypes.value_counts()

# Indexing selection and slicing

In [ ]:
df['population']

In [ ]:
df['population'].to_frame()

In [ ]:
df[['population','GDP']]

In [ ]:
df[1:3]

In [ ]:
df.loc['Europe']

In [ ]:
df

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[-1]

In [ ]:
df.iloc[[0,1,-1]]

Dropping stuff

In [ ]:
df.drop('canada')

In [ ]:
df

In [ ]:
df.drop(columns=['population','HDI'])

In [ ]:
df.drop(['population','HDI'],axis=1)

In [ ]:
df.drop(['population','HDI'],axis='columns')

In [ ]:
df.drop(['population','HDI'],axis='rows')

# Operations

In [ ]:
df[['population','GDP']]

In [ ]:
df[['population','GDP']]/100

operation with series work at column level,broadcasting down the rows(which can be the counter inutive

In [ ]:
crisis=pd.Series([-10000000,-0.3],index['GDP','HDI'])
crisis

# Moving DataFrames

Adding a new column

In [ ]:
langs=pd.Series(['French','German','Italian'],
               index=['France','Germany','Italy'],
               name='Language'
               )

In [ ]:
langs

In [ ]:
df['Language']=langs

In [ ]:
df

replacing values per column

In [ ]:
df['Language']='English'

In [ ]:
df

creating columns from other columns

In [ ]:
df[['population','GDP']]

In [ ]:
df['GDP']/df['population']

In [ ]:
df['GDP']/df['population']

In [ ]:
df['GDP per capita']=df['GDP']/df['population']

In [ ]:
df

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#help(pd.Series)

In [ ]:
myindex=['USA','canada','Mexico']

In [ ]:
mydata=[1776,1867,1821]

In [ ]:
myser=pd.Series(data=mydata)

In [ ]:
myser

In [ ]:
type(myser)

In [ ]:
myser

In [ ]:
myser[0]

In [ ]:
ages={'sam':5,'Frank':10,'spike':7}

In [ ]:
pd.Series(ages)

In [ ]:
#Imaginary sales data for 1st and 2nd quarters for global company
q1={'Japan':80,'china':450,'India':200,'USA':250}
q2={'Brazil':100,'china':500,'India':210,'USA':260}

In [ ]:
sales_q1=pd.Series(q1)

In [ ]:
sales_q2=pd.Series(q2)

In [ ]:
sales_q2

In [ ]:
sales_q1

In [ ]:
sales_q1['Japan']

In [ ]:
sales_q1[0]

In [ ]:
sales_q1.keys()

In [ ]:
np.array([1,2]) * 2

In [ ]:
sales_q1*2

In [ ]:
sales_q1/100

In [ ]:
sales_q1

In [ ]:
sales_q2

In [ ]:
sales_q1+sales_q2

In [ ]:
 first_half =sales_q1.add(sales_q2,fill_value=0)

In [ ]:
sales_q1.dtype

In [ ]:
first_half.dtype

In [ ]:
first_half

In [ ]:
pd.Series

Creating a data frames

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
np.random.seed(101)
mydata=np.random.randint(0,101,(4,3))

In [ ]:
mydata

In [ ]:
myindex=['CA','NY','AZ','TX']

In [ ]:
mycolumns=['Jan','Feb','Mar']

In [ ]:
df=pd.DataFrame(data=mydata,index=myindex,columns=mycolumns)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
#where is my python code is located

In [ ]:
pwd

In [ ]:
ls

In [ ]:
df=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\tips.csv')

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.head(10)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe().transpose()

In [ ]:
#working with columns
df['total_bill']

In [ ]:
type(df['total_bill'])

In [ ]:
mycols=['total_bill','tip']
df[mycols]

In [ ]:
df[['total_bill','tip']]

In [ ]:
type(df['total_bill'])

In [ ]:
df['tip'] + df['total_bill']

In [ ]:
100 * df['tip']/df['total_bill']

In [ ]:
df['tip_percentage']= 100 * df['tip']/df['total_bill']

In [ ]:
df.head()

In [ ]:
df['price_per_person']=df['total_bill']/df['size']

In [ ]:
df

In [ ]:
df['price_per_person']=df['total_bill']/df['size']

In [ ]:
np.round

In [ ]:
df['price_per_person']=np.round(df['total_bill']/df['size'],2)

In [ ]:
df.head()

In [ ]:
df.drop('tip_percentage',axis=1)

In [ ]:
df=df.drop('tip_percentage',axis=1)

In [ ]:
df.shape

In [ ]:
df.shape[1]

#working with rows

In [ ]:
df.head()

In [ ]:
df.index

In [ ]:
df=df.set_index("Payment ID")

In [ ]:
df=df.reset_index()

In [ ]:
df.head

In [ ]:
df.head()

In [ ]:
df.iloc[0]

In [ ]:
df.loc['Sun2959']

In [ ]:
df.iloc[0:4]

In [ ]:

df.loc['Sun2959']

In [ ]:
df.loc['Sun2959']

In [ ]:
df.loc[['Sun2959','Sun5260']]

In [ ]:
df.drop('sun2959',axis=0)

In [ ]:
df=df.iloc[:1]

In [ ]:
df

In [ ]:
one_row=df.iloc[0]

In [ ]:
one_row

In [ ]:
df

# Pandas connditional filtering

In [ ]:
df['total_bill']>40

In [ ]:
df=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\tips.csv')

In [ ]:
df

In [ ]:
df['total_bill']>40

In [ ]:
bool_series=df['total_bill']>40

In [ ]:
bool_series

In [ ]:
df[bool_series]

In [ ]:
df[df['total_bill']>40]

In [ ]:
df[df['sex']=="Male"]

In [ ]:
df[df['size']>3]

In [ ]:
#AND &--Both condition needed to be true

In [ ]:
#OR |--Either condition is true

In [ ]:
df[(df['total_bill']>30)| (df['sex']=="Male")]

In [ ]:
df[(df['day']=='sun')|(df['day']=='sat')|(df['day']=='Fri')]

In [ ]:
options=['sat','sun']

In [ ]:
df['day'].isin(options)

In [ ]:
options=df[df['day'].isin(['sat','sun'])]

In [ ]:
options

In [ ]:
#useful methods Apply on single columns

In [ ]:
str(242872897592)[-4:]

In [ ]:
def last_four(num):
    return str(num)[-4:]

In [ ]:
last_four(82897998429809)

In [ ]:
df['CC Number'].apply(last_four)

In [ ]:
df['last_four']=df['CC Number'].apply(last_four)

In [ ]:
df['total_bill']

In [ ]:
df['total_bill'].mean()

In [ ]:
def yelp(price):
    if price<10:
        return  '$' 
    elif price>=10 and price <30:
        return '$$'
    else:
        return '$$$'

In [ ]:
df['yelp']=df['total_bill'].apply(yelp)

In [ ]:
df['yelp']

In [ ]:
df

In [ ]:
df['yelp']=df['total_bill'].apply(yelp)

In [ ]:
df

In [ ]:
#useful methods on apply on multiple columns

In [ ]:
def simple(num):
    return num*2

In [ ]:
simple(2)

In [ ]:
lambda num: num*2

In [ ]:
simple(2)

In [ ]:
df['total_bill'].apply(lambda num: num*2)

In [ ]:
def quality(total_bill,tip):
    if tip/total_bill >0.25:
        return "Generous"
    else:
        return "Other"

In [ ]:
quality(16.99,1.01)

In [ ]:
df['quality']=np.vectorize(quality)(df['total_bill'],df['tip'])

In [ ]:
df.head()

In [ ]:
import timeit

In [ ]:
#useful method describing and sorting

In [ ]:
df=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\tips.csv')

In [ ]:
df.describe()

In [ ]:
df.describe().transpose()

In [ ]:
df.sort_values('tip')

In [ ]:
df.sort_values('tip',ascending=False)

In [ ]:
df.sort_values(['tip','size'])

In [ ]:
df['total_bill']

In [ ]:
df['total_bill'].max()

In [ ]:
df['total_bill'].idxmax()

In [ ]:
df.iloc[170]

In [ ]:
df['total_bill'].min()

In [ ]:
df.iloc[df['total_bill'].idxmin()]

In [ ]:
df.corr()

In [ ]:
df.head()

In [ ]:
df['sex'].value_counts()

In [ ]:
df['day'].unique()

In [ ]:
df['day'].value_counts()

In [ ]:
df.head()

In [ ]:
df['sex'].replace('Female','F')

In [ ]:
df['sex'].replace(['Female','Male'],['F','M'])

In [ ]:
mymap={'Female':'F','Male':'M'}

In [ ]:
mymap

In [ ]:
df['sex'].map(mymap)

In [ ]:
df.duplicated()

In [ ]:
simple_df=pd.DataFrame([1,2,2],['a','b','c'])

In [ ]:
simple_df

In [ ]:
simple_df.duplicated()

In [ ]:
simple_df.drop_duplicates()

In [ ]:
df['total_bill']

In [ ]:
df['total_bill'].between(10,20,inclusive=True)

In [ ]:
df.nlargest(10,'tip')

In [ ]:
df.nlargest(2,'tip')

In [ ]:
df.sort_values('tip',ascending=False).iloc[0:2]

In [ ]:
df.sort_values('tip',ascending=True).iloc[0:2]

In [ ]:
df.sample()

In [ ]:
df.sample(5)

In [ ]:
df.sample(frac=0.1)

In [ ]:
#missing data

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
np.nan

In [ ]:
pd.NA

In [ ]:
pd.NaT

In [ ]:
np.nan==np.nan

In [ ]:
np.nan is np.nan

In [ ]:
myvar=np.nan

In [ ]:
myvar is np.nan

In [ ]:
df=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\movie_scores.csv')

In [ ]:
df

In [ ]:
df.isnull()

In [ ]:
df.notnull()

In [ ]:
df['pre_movie_score'].notnull()

In [ ]:
df[df['pre_movie_score'].notnull()]

In [ ]:
df[df['pre_movie_score'].isnull()]

In [ ]:
df[(df['pre_movie_score'].isnull()) &(df['first_name'].notnull())]

In [ ]:
#keep data
#drop data
#fill data

In [ ]:
df

In [ ]:
df=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\movie_scores.csv')

In [ ]:
df

In [ ]:
help(df.dropna)

In [ ]:
df.dropna()

In [ ]:
df.dropna(thresh=1)

In [ ]:
df.dropna(thresh=5)

In [ ]:
df.dropna(axis=1)

In [ ]:
df

In [ ]:
df.dropna(subset=['last_name'])

In [ ]:
df.fillna('NEW VALUE!')

In [ ]:
df['pre_movie_score'].fillna[0]

In [ ]:
df['pre_movie_score'].mean()

In [ ]:
df['pre_movie_score'].fillna(df['pre_movie_score'].mean())

In [ ]:
df.fillna(df.mean())

In [ ]:
airline_tix={'first':100,'buiseness':np.nan,'economy-plus':50,'economy':30}

In [ ]:
ser=pd.Series(airline_tix)

In [ ]:
ser

In [ ]:
ser.interpolate()

Groupby operation

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\mpg.csv')

In [ ]:
df

In [ ]:
df['model_year']  #unique

In [ ]:
df['model_year'].value_counts()

In [ ]:
df.groupby('model_year')

In [ ]:
df.groupby('model_year').mean()

In [ ]:
df

In [ ]:
df.groupby('model_year').mean()['mpg']

In [ ]:
df.groupby(['model_year','cylinders']).mean()

In [ ]:
df.groupby(['model_year','cylinders']).mean().columns

In [ ]:
df.groupby(['model_year','cylinders']).mean().index

In [ ]:
df.groupby(['model_year','cylinders']).mean()['mpg']

In [ ]:
df.groupby('model_year').describe()

In [ ]:
df.groupby('model_year').describe().transpose()

In [ ]:
#df.groupby('model_year').describe().transpose()

In [ ]:
year_cyl=df.groupby(['model_year','cylinders']).mean()

In [ ]:
year_cyl

In [ ]:
year_cyl.index.names

In [ ]:
year_cyl.index.levels

In [ ]:
year_cyl.loc[70]

In [ ]:
year_cyl.loc[[70,82]]

In [ ]:
year_cyl.loc[(70,4)]

Groupby operations in multi-index

In [ ]:
year_cyl.index

In [ ]:
year_cyl.xs(key=70,level='model_year')

In [ ]:
year_cyl.loc[[70,80]]

In [ ]:
year_cyl.xs(key=4,level='cylinders')

In [ ]:
four_cyl=year_cyl.xs(key=4,level='cylinders')

In [ ]:
four_cyl

In [ ]:
df[df['cylinders'].isin([6,8])]

In [ ]:
df[df['cylinders'].isin([6,8])].groupby(['model_year','cylinders']).mean()

In [ ]:
year_cyl

In [ ]:
year_cyl.swaplevel()

In [ ]:
year_cyl.sort_index(level='model_year',ascending=False)

In [ ]:
df

In [ ]:
df.agg(['std','mean'])

In [ ]:
df.agg(['std','mean'])['mpg']

In [ ]:
df.agg({'mpg':['max','mean'],'weight':['mean','std']})

combining dataframes -concatenation

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data_one={'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3']}

In [ ]:
data_two={'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']}

In [ ]:
one=pd.DataFrame(data_one)

In [ ]:
two=pd.DataFrame(data_two)

In [ ]:
one

In [ ]:
two

In [ ]:
pd.concat([one,two],axis=1)

In [ ]:
one

In [ ]:
two

In [ ]:
pd.concat([one,two],axis=0)

In [ ]:
one

In [ ]:
two.columns=one.columns

In [ ]:
one

In [ ]:
two

In [ ]:
pd.concat([one,two],axis=0)

In [ ]:
mydf=pd.concat([one,two],axis=0)

In [ ]:
mydf.index=range(len(mydf))

In [ ]:
mydf

combining Dataframe - Inner Merge

In [ ]:
registrations = pd.DataFrame({'reg_id':[1,2,3,4],'name':['Andrew','Bobo','Claire','David']})
logins = pd.DataFrame({'log_id':[1,2,3,4],'name':['Xavier','Andrew','Yolanda','Bobo']})

In [ ]:
registrations

In [ ]:
logins

In [ ]:
help(pd.merge)

In [ ]:
pd.merge(registrations,logins,how='inner',on='name')

In [ ]:
pd.merge(logins,registrations,how='inner',on='name')

combining DataFrames "left-right" Merge

In [ ]:
pd.merge(left=registrations,right=logins,how='left',on='name')

In [ ]:
pd.merge(left=registrations,right=logins,how='right',on='name')

In [ ]:
pd.merge(left=logins,right=registrations,how='left',on='name')

In [ ]:
pd.merge(left=logins,right=registrations,how='right',on='name')

In [ ]:
pd.merge(registrations,logins,how='outer',on='name')

In [ ]:
registrations=registrations.set_index('name')

In [ ]:
registrations

In [ ]:
logins

In [ ]:
pd.merge(registrations,logins,left_index=True,right_on='name',how='inner')

In [ ]:
registrations=registrations.reset_index()

In [ ]:
registrations

In [ ]:
registrations.columns=['reg_name','reg_id']

In [ ]:
pd.merge(registrations,logins,left_on='reg_name',right_on='name').drop('reg_name',axis=1)

In [ ]:
registrations.columns = ['name','id']

In [ ]:
logins.columns = ['id','name']

In [ ]:
registrations

In [ ]:
logins

In [ ]:
# _x is for left
# _y is for right
pd.merge(registrations,logins,on='name')

In [ ]:
pd.merge(registrations,logins,on='name',suffixes=('_reg','_log'))

# Text method for string data

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
email='jose@email.com'

In [ ]:
email.split('@')

In [ ]:
names=pd.Series(['andrew','bobo','claire','david','5'])

In [ ]:
names

In [ ]:
names.str.upper()

In [ ]:
names

In [ ]:
names.str.lower()

In [ ]:
email='Swethathangamani@email.com'

In [ ]:
email.isdigit()

In [ ]:
email='Swethathangamani22@email.com'

In [ ]:
email.isdigit()

In [ ]:
email='482589020259'

In [ ]:
email.isdigit()

In [ ]:
'5'.isdigit()

In [ ]:
names.str.isdigit()

In [ ]:
tech_finance=['GOOG,APPL,AMZN','JPM,BAC,JS',]

In [ ]:
len(tech_finance)

In [ ]:
tickers=pd.Series(tech_finance)

In [ ]:
tickers

In [ ]:
tickers.str.split(',',expand=True)

In [ ]:
tech='GOOG,APPL,AMZN'

In [ ]:
tech.split(',')

In [ ]:
tech.split(',')[0]

In [ ]:
messy_names=pd.Series(['andrew  ',"bo;bo","  claire  "])

In [ ]:
messy_names[0]

In [ ]:
messy_names

In [ ]:
messy_names.str.replace(';','').str.strip()[0]

In [ ]:
messy_names.str.replace(';','').str.strip().str.capitalize()

In [ ]:
def cleanup(name):
    name=name.replace(";","")
    name=name.strip()
    name=name.capitalize()
    return name

In [ ]:
messy_names.apply(cleanup)

Pandas-Time methods for Date and Time Data

In [ ]:
import numpy as np
import pandas as pd

from datetime import datetime

In [ ]:
myyear=2015
mymonth=1
myday=1
myhour=2
mymin=30
mysec=15

In [ ]:
mydate=datetime(myyear,mymonth,myday)

In [ ]:
mydate

In [ ]:
mydatetime=datetime(myyear,mymonth,myday,myhour,mymin,mysec)

In [ ]:
mydatetime

In [ ]:
mydatetime.year

In [ ]:
myser=pd.Series(['Nov 3,1990','2000-01-01',None])

In [ ]:
myser

In [ ]:
myser[0]

In [ ]:
myser[0].year

In [ ]:
pd.to_datetime(myser)

In [ ]:
time_ser=pd.to_datetime(myser)

In [ ]:
time_ser[0]

In [ ]:
time_ser[0].year

In [ ]:
obvi_euro_date='31-12-2000'

In [ ]:
pd.to_datetime(obvi_euro_date)

In [ ]:
euro_date='10-12-2000'

In [ ]:
pd.to_datetime(euro_date)

In [ ]:
pd.to_datetime(euro_date,dayfirst=True)

In [ ]:
style_date='12--dec--2000'

In [ ]:
pd.to_datetime(style_date,format='%d--%b--%Y')

In [ ]:
custom_date="12th of dec 2000"

In [ ]:
pd.to_datetime(custom_date)

In [ ]:
sales=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\RetailSales_BeerWineLiquor.csv')

In [ ]:
df

In [ ]:
import numpy as  np

In [ ]:
import pandas as pd

In [ ]:
sales=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\RetailSales_BeerWineLiquor.csv')

In [ ]:
sales

In [ ]:
sales['DATE']=pd.to_datetime(sales["DATE"])

In [ ]:
sales['DATE'][0]

In [ ]:
sales['DATE'][0].year

In [ ]:
sales=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\RetailSales_BeerWineLiquor.csv',parse_dates=[0])

In [ ]:
sales

In [ ]:
sales.head()

In [ ]:
sales=sales.set_index("DATE")

In [ ]:
sales.resample(rule='A').mean()

In [ ]:
sales.info()

In [ ]:
sales=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\RetailSales_BeerWineLiquor.csv',parse_dates=[0])

In [ ]:
sales['DATE'].dt.month

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pwd

In [ ]:
ls

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
df=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\example.csv')

In [ ]:
df

In [ ]:
('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\example.csv',header=None)

In [ ]:
df=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\example.csv',header=None)

In [ ]:
df

In [ ]:
df=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\example.csv')

In [ ]:
df

In [ ]:
df=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\example.csv',index_col=0)

In [ ]:
df

In [73]:
df=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\newfile.csv')

In [74]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [75]:
df.to_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\newfile.csv',index=False)

In [76]:
new=pd.read_csv("C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\newfile.csv")

In [77]:
new

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

pandas input and output of the HTML Tables

In [78]:
import pandas as pd

In [79]:
url="https://en.wikipedia.org/wiki/World_population"

In [80]:
tables=pd.read_html(url)

In [81]:
len(tables)

27

In [82]:
tables[0]

        World population (millions, UN estimates)[15]  \
                                                    #
0                                                   1
1                                                   2
2                                                   3
3                                                   4
4                                                   5
5                                                   6
6                                                   7
7                                                   8
8                                                   9
9                                                  10
10                                                NaN
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                      Top ten most populous countries
0                                            China[B]
1                                               India
2                                       United States
3                                           Indonesia
4                                            Pakistan
5                                              Brazil
6                                             Nigeria
7                                          Bangladesh
8                                              Russia
9                                              Mexico
10                                        World total
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                                                 2000
0                                                1270
1                                                1053
2                                                 283
3                                                 212
4                                                 136
5                                                 176
6                                                 123
7                                                 131
8                                                 146
9                                                 103
10                                               6127
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                                                 2015
0                                                1376
1                                                1311
2                                                 322
3                                                 258
4                                                 208
5                                                 206
6                                                 182
7                                                 161
8                                                 146
9                                                 127
10                                               7349
11  Notes: .mw-parser-output .reflist{font-size:90...


                                              2030[A]
0                                                1416
1                                                1528
2                                                 356
3                                                 295
4                                                 245
5                                                 228
6                                                 263
7                                                 186
8                                                 149
9                                                 148
10                                               8501
11  Notes: .mw-parser-output .reflist{font-size:90...

In [83]:
tables[1]

,Continent,Density(inhabitants/km2),Population(millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,4641,"1,439,323,000[note 1] China","37,393,000/13,929,000 Greater Tokyo Area/Tok..."
1,Africa,44.4,1340,"0206,139,000 Nigeria","20,900,000 Cairo[18]"
2,Europe,73.4,747,"0145,934,000 Russia;approx. 110 million in E...","16,855,000/12,537,000 Moscow metropolitan ar..."
3,Latin America,24.1,653,"0212,559,000 Brazil","22,043,000/12,176,000 So Paulo Metro Area/S..."
4,Northern America[note 2],14.9,368,"0331,002,000 United States","23,724,000/8,323,000 New York metropolitan a..."
5,Oceania,5,42,"0025,499,000 Australia","4,925,000 Sydney"
6,Antarctica,~0,0.004[17],N/A[note 3],"1,258 McMurdo Station"

In [84]:
tables[1].columns

Index(['Continent', 'Density(inhabitants/km2)', 'Population(millions)',
       'Most populous country', 'Most populous city (metropolitan area)'],
      dtype='object')

In [85]:
world_topten=tables[1]

In [86]:
world_topten['World population (millions, UN estimates)[15]']

KeyError: 'World population (millions, UN estimates)[15]'

In [ ]:
world_topten=world_topten.drop(11,axis=0)

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_excel('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\my_excel_file.xlsx',sheet_name='First_Sheet')

In [ ]:
df

In [ ]:
wb=pd.ExcelFile('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\my_excel_file.xlsx')

In [ ]:
wb.sheet_names

In [ ]:
excel_sheet_dict=pd.read_excel('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\my_excel_file.xlsx',sheet_name=None)

In [ ]:
type(excel_sheet_dict)

In [ ]:
excel_sheet_dict.keys()

In [ ]:
excel_sheet_dict['First_Sheet']

In [ ]:
excel_sheet_dict

In [ ]:
our_df= excel_sheet_dict

In [ ]:
our_df

In [ ]:
our_df.to_excel('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\example.xlsx',sheet_name='First_Sheet',index=False)

Pivot tables

In [88]:
import pandas as pd
import numpy as np

In [89]:
df=pd.read_csv('C:\\Users\\DELL\\Desktop\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas\\Sales_Funnel_CRM.csv')

In [90]:
df

,Account Number,Company,Contact,Account Manager,Product,Licenses,Sale Price,Status
0,2123398,Google,Larry Pager,Edward Thorp,Analytics,150,2100000,Presented
1,2123398,Google,Larry Pager,Edward Thorp,Prediction,150,700000,Presented
2,2123398,Google,Larry Pager,Edward Thorp,Tracking,300,350000,Under Review
3,2192650,BOBO,Larry Pager,Edward Thorp,Analytics,150,2450000,Lost
4,420496,IKEA,Elon Tusk,Edward Thorp,Analytics,300,4550000,Won
5,636685,Tesla Inc.,Elon Tusk,Edward Thorp,Analytics,300,2800000,Under Review
6,636685,Tesla Inc.,Elon Tusk,Edward Thorp,Prediction,150,700000,Presented
7,1216870,Microsoft,Will Grates,Edward Thorp,Tracking,300,350000,Under Review
8,2200450,Walmart,Will Grates,Edward Thorp,Analytics,150,2450000,Lost
9,405886,Apple,Cindy Phoner,Claude Shannon,Analytics,300,4550000,Won
10,470248,Exxon Mobile,Cindy Phoner,Claude Shannon,Analytics,150,2100000,Presented
11,698032,ATT,Cindy Phoner,Claude Shannon,Tracking,150,350000,Under Review
12,698032,ATT,Cindy Phoner,Claude Shannon,Prediction,150,700000,Presented
13,902797,CVS Health,Emma Gordian,Claude Shannon,Tracking,450,490000,Won
14,2046943,Salesforce,Emma Gordian,Claude Shannon,Analytics,750,7000000,Won
15,2169499,Cisco,Emma Gordian,Claude Shannon,Analytics,300,4550000,Lost
16,2169499,Cisco,Emma Gordian,Claude Shannon,GPS Positioning,300,350000,Presented

In [91]:
help(pd.pivot)

Help on function pivot in module pandas.core.reshape.pivot:

pivot(data: 'DataFrame', index: Union[Hashable, NoneType, Sequence[Union[Hashable, NoneType]]] = None, columns: Union[Hashable, NoneType, Sequence[Union[Hashable, NoneType]]] = None, values: Union[Hashable, NoneType, Sequence[Union[Hashable, NoneType]]] = None) -> 'DataFrame'
    Return reshaped DataFrame organized by given index / column values.

    Reshape data (produce a "pivot" table) based on column values. Uses
    unique values from specified `index` / `columns` to form axes of the
    resulting DataFrame. This function does not support data
    aggregation, multiple values will result in a MultiIndex in the
    columns. See the :ref:`User Guide <reshaping>` for more on reshaping.

    Parameters
    ----------
    data : DataFrame
    index : str or object or a list of str, optional
        Column to use to make new frame's index. If None, uses
        existing index.

        .. versionchanged:: 1.1.0
           Also accept list of index names.

    columns : str or object or a list of str
        Column to use to make new frame's columns.

        .. versionchanged:: 1.1.0
           Also accept list of columns names.

    values : str, object or a list of the previous, optional
        Column(s) to use for populating new frame's values. If not
        specified, all remaining columns will be used and the result will
        have hierarchically indexed columns.

    Returns
    -------
    DataFrame
        Returns reshaped DataFrame.

    Raises
    ------
    ValueError:
        When there are any `index`, `columns` combinations with multiple
        values. `DataFrame.pivot_table` when you need to aggregate.

    See Also
    --------
    DataFrame.pivot_table : Generalization of pivot that can handle
        duplicate values for one index/column pair.
    DataFrame.unstack : Pivot based on the index values instead of a
        column.
    wide_to_long : Wide panel to long format. Less flexible but more
        user-friendly than melt.

    Notes
    -----
    For finer-tuned control, see hierarchical indexing documentation along
    with the related stack/unstack methods.

    Examples
    --------
    >>> df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
    ...                            'two'],
    ...                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
    ...                    'baz': [1, 2, 3, 4, 5, 6],
    ...                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
    >>> df
        foo   bar  baz  zoo
    0   one   A    1    x
    1   one   B    2    y
    2   one   C    3    z
    3   two   A    4    q
    4   two   B    5    w
    5   two   C    6    t

    >>> df.pivot(index='foo', columns='bar', values='baz')
    bar  A   B   C
    foo
    one  1   2   3
    two  4   5   6

    >>> df.pivot(index='foo', columns='bar')['baz']
    bar  A   B   C
    foo
    one  1   2   3
    two  4   5   6

    >>> df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])
          baz       zoo
    bar   A  B  C   A  B  C
    foo
    one   1  2  3   x  y  z
    two   4  5  6   q  w  t

    You could also assign a list of column names or a list of index names.

    >>> df = pd.DataFrame({
    ...        "lev1": [1, 1, 1, 2, 2, 2],
    ...        "lev2": [1, 1, 2, 1, 1, 2],
    ...        "lev3": [1, 2, 1, 2, 1, 2],
    ...        "lev4": [1, 2, 3, 4, 5, 6],
    ...        "values": [0, 1, 2, 3, 4, 5]})
    >>> df
        lev1 lev2 lev3 lev4 values
    0   1    1    1    1    0
    1   1    1    2    2    1
    2   1    2    1    3    2
    3   2    1    2    4    3
    4   2    1    1    5    4
    5   2    2    2    6    5

    >>> df.pivot(index="lev1", columns=["lev2", "lev3"],values="values")
    lev2    1         2
    lev3    1    2    1    2
    lev1
    1     0.0  1.0  2.0  NaN
    2     4.0  3.0  NaN  5.0

    >>> df.pivot(index=["lev1", "lev2"], columns=["lev3"],values="values")
          lev3    1    2
    lev1  lev2
       1     1  0.0  1.0
             2  2.0  NaN
       2     1  4.0  3.0
             2  NaN  5.0

    A ValueError is raised if there are any duplicates.

    >>> df = pd.DataFrame({"foo": ['one', 'one', 'two', 'two'],
    ...                    "bar": ['A', 'A', 'B', 'C'],
    ...                    "baz": [1, 2, 3, 4]})
    >>> df
       foo bar  baz
    0  one   A    1
    1  one   A    2
    2  two   B    3
    3  two   C    4

    Notice that the first two rows are the same for our `index`
    and `columns` arguments.

    >>> df.pivot(index='foo', columns='bar', values='baz')
    Traceback (most recent call last):
       ...
    ValueError: Index contains duplicate entries, cannot reshape

In [96]:
licenses=df[['Company','Product','Licenses']]

In [100]:
pd.pivot(data=licenses,index='Company',columns='Product',values='Licenses')

Product       Analytics  GPS Positioning  Prediction  Tracking
Company
 Google           150.0              NaN       150.0     300.0
ATT                 NaN              NaN       150.0     150.0
Apple             300.0              NaN         NaN       NaN
BOBO              150.0              NaN         NaN       NaN
CVS Health          NaN              NaN         NaN     450.0
Cisco             300.0            300.0         NaN       NaN
Exxon Mobile      150.0              NaN         NaN       NaN
IKEA              300.0              NaN         NaN       NaN
Microsoft           NaN              NaN         NaN     300.0
Salesforce        750.0              NaN         NaN       NaN
Tesla Inc.        300.0              NaN       150.0       NaN
Walmart           150.0              NaN         NaN       NaN

In [101]:
pd.pivot_table(df,index="Company",aggfunc='sum')

              Account Number  Licenses  Sale Price
Company
 Google              6370194       600     3150000
ATT                  1396064       300     1050000
Apple                 405886       300     4550000
BOBO                 2192650       150     2450000
CVS Health            902797       450      490000
Cisco                4338998       600     4900000
Exxon Mobile          470248       150     2100000
IKEA                  420496       300     4550000
Microsoft            1216870       300      350000
Salesforce           2046943       750     7000000
Tesla Inc.           1273370       450     3500000
Walmart              2200450       150     2450000

In [102]:
df.groupby('Company').sum()

              Account Number  Licenses  Sale Price
Company
 Google              6370194       600     3150000
ATT                  1396064       300     1050000
Apple                 405886       300     4550000
BOBO                 2192650       150     2450000
CVS Health            902797       450      490000
Cisco                4338998       600     4900000
Exxon Mobile          470248       150     2100000
IKEA                  420496       300     4550000
Microsoft            1216870       300      350000
Salesforce           2046943       750     7000000
Tesla Inc.           1273370       450     3500000
Walmart              2200450       150     2450000

In [107]:
pd.pivot_table(df,index="Company",aggfunc='sum',values=['Licenses','Sale Price'])

              Licenses  Sale Price
Company
 Google            600     3150000
ATT                300     1050000
Apple              300     4550000
BOBO               150     2450000
CVS Health         450      490000
Cisco              600     4900000
Exxon Mobile       150     2100000
IKEA               300     4550000
Microsoft          300      350000
Salesforce         750     7000000
Tesla Inc.         450     3500000
Walmart            150     2450000

In [108]:
df

,Account Number,Company,Contact,Account Manager,Product,Licenses,Sale Price,Status
0,2123398,Google,Larry Pager,Edward Thorp,Analytics,150,2100000,Presented
1,2123398,Google,Larry Pager,Edward Thorp,Prediction,150,700000,Presented
2,2123398,Google,Larry Pager,Edward Thorp,Tracking,300,350000,Under Review
3,2192650,BOBO,Larry Pager,Edward Thorp,Analytics,150,2450000,Lost
4,420496,IKEA,Elon Tusk,Edward Thorp,Analytics,300,4550000,Won
5,636685,Tesla Inc.,Elon Tusk,Edward Thorp,Analytics,300,2800000,Under Review
6,636685,Tesla Inc.,Elon Tusk,Edward Thorp,Prediction,150,700000,Presented
7,1216870,Microsoft,Will Grates,Edward Thorp,Tracking,300,350000,Under Review
8,2200450,Walmart,Will Grates,Edward Thorp,Analytics,150,2450000,Lost
9,405886,Apple,Cindy Phoner,Claude Shannon,Analytics,300,4550000,Won
10,470248,Exxon Mobile,Cindy Phoner,Claude Shannon,Analytics,150,2100000,Presented
11,698032,ATT,Cindy Phoner,Claude Shannon,Tracking,150,350000,Under Review
12,698032,ATT,Cindy Phoner,Claude Shannon,Prediction,150,700000,Presented
13,902797,CVS Health,Emma Gordian,Claude Shannon,Tracking,450,490000,Won
14,2046943,Salesforce,Emma Gordian,Claude Shannon,Analytics,750,7000000,Won
15,2169499,Cisco,Emma Gordian,Claude Shannon,Analytics,300,4550000,Lost
16,2169499,Cisco,Emma Gordian,Claude Shannon,GPS Positioning,300,350000,Presented

In [114]:
pd.pivot_table(df,index=["Account Manager","Contact"],values=["Sale Price"],columns=["Product"],aggfunc=[np.sum])

                                     sum
                              Sale Price
Product                        Analytics GPS Positioning Prediction  Tracking
Account Manager Contact
Claude Shannon  Cindy Phoner   6650000.0             NaN   700000.0  350000.0
                Emma Gordian  11550000.0        350000.0        NaN  490000.0
Edward Thorp    Elon Tusk      7350000.0             NaN   700000.0       NaN
                Larry Pager    4550000.0             NaN   700000.0  350000.0
                Will Grates    2450000.0             NaN        NaN  350000.0

In [115]:
pd.pivot_table(df,index=["Account Manager","Contact"],values=["Sale Price"],columns=["Product"],aggfunc=[np.sum],fill_value=0)

                                    sum
                             Sale Price
Product                       Analytics GPS Positioning Prediction Tracking
Account Manager Contact
Claude Shannon  Cindy Phoner    6650000               0     700000   350000
                Emma Gordian   11550000          350000          0   490000
Edward Thorp    Elon Tusk       7350000               0     700000        0
                Larry Pager     4550000               0     700000   350000
                Will Grates     2450000               0          0   350000

In [116]:
# Can add multiple agg functions
pd.pivot_table(df,index=["Account Manager","Contact"],values=["Sale Price"],columns=["Product"],
               aggfunc=[np.sum,np.mean],fill_value=0)

                                    sum                                      \
                             Sale Price
Product                       Analytics GPS Positioning Prediction Tracking
Account Manager Contact
Claude Shannon  Cindy Phoner    6650000               0     700000   350000
                Emma Gordian   11550000          350000          0   490000
Edward Thorp    Elon Tusk       7350000               0     700000        0
                Larry Pager     4550000               0     700000   350000
                Will Grates     2450000               0          0   350000

                                   mean
                             Sale Price
Product                       Analytics GPS Positioning Prediction Tracking
Account Manager Contact
Claude Shannon  Cindy Phoner    3325000               0     700000   350000
                Emma Gordian    5775000          350000          0   490000
Edward Thorp    Elon Tusk       3675000               0     700000        0
                Larry Pager     2275000               0     700000   350000
                Will Grates     2450000               0          0   350000

In [117]:
# Can add on multiple columns
pd.pivot_table(df,index=["Account Manager","Contact"],values=["Sale Price","Licenses"],columns=["Product"],
               aggfunc=[np.sum],fill_value=0)

                                   sum                                      \
                              Licenses
Product                      Analytics GPS Positioning Prediction Tracking
Account Manager Contact
Claude Shannon  Cindy Phoner       450               0        150      150
                Emma Gordian      1050             300          0      450
Edward Thorp    Elon Tusk          600               0        150        0
                Larry Pager        300               0        150      300
                Will Grates        150               0          0      300


                             Sale Price
Product                       Analytics GPS Positioning Prediction Tracking
Account Manager Contact
Claude Shannon  Cindy Phoner    6650000               0     700000   350000
                Emma Gordian   11550000          350000          0   490000
Edward Thorp    Elon Tusk       7350000               0     700000        0
                Larry Pager     4550000               0     700000   350000
                Will Grates     2450000               0          0   350000

In [118]:
pd.pivot_table(df,index=["Account Manager","Status"],values=["Sale Price"],
               aggfunc=[np.sum],fill_value=0,margins=True)

                                    sum
                             Sale Price
Account Manager Status
Claude Shannon  Lost            4550000
                Presented       3150000
                Under Review     350000
                Won            12040000
Edward Thorp    Lost            4900000
                Presented       3500000
                Under Review    3500000
                Won             4550000
All                            36540000